@model Expenses.Data.Models.Expenses
@{ 
    Layout = null;
    <script src="@Url.Content("~/Scripts/jquery.validate-vsdoc.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
}
<div class="card-panel">
    <div class="row">
        <div class="input-field col s6">
            <i class="material-icons prefix">perm_contact_calendar</i>
            @Html.TextBoxFor(x => x.Date, "{0:yyyy-MM-dd}", new { type = "date", @class = "datepicker", @required = "", @aria_required = "true" })
            @Html.HiddenFor(x => x.Id)
            @Html.LabelFor(x => x.Date, new { @data_error = "verify the information", @data_success = "Ok" })
        </div>
        <div class="input-field col s6">
            <i class="material-icons prefix">attach_money</i>
            @Html.TextBoxFor(x => x.Amount, new { min = 1, type = "number", @class = "validate", @required = "", @aria_required = "true" })
            @Html.LabelFor(x => x.Amount, new { @data_error = "verify the information", @data_success = "Ok" })

        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">comment</i>
            @Html.TextArea("Description", new { @id = "Description", @class = "materialize-textarea validate", @required = "", @aria_required = "true" })
            @Html.LabelFor(x => x.Description, new { @data_error = "verify the information", @data_success = "Ok" })
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
        </div>
        <div class="col s12 m6 l3 ">
            <a class="btn cyan waves-effect waves-light right" href="@Url.Action("Index", "Expenses" )">Cancel</a>
        </div>
        <div class="col s12 m4 l2">
            <input class="btn cyan waves-effect waves-light right" type="submit" value="Save" />
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //Set the format to datePicker
        $('.datepicker').pickadate({
            format: 'yyyy-mm-dd',
        });
});
</script>

